#backgroundpic{height:100%;width:100%;display: block}
body,html{
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  height:100%;
  font-family:sans-serif;
}
article{
  background-image:url("../pic/photo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#emblempic{
position:absolute;
top:50%;
left:50%;
margin-right:-50%;
transform:translate(-50%,-50%);
}

#firstArticle{margin-left:0px}

.w3-row{
  height: 100%;
}
button{
  position: absolute;
  bottom: 0;
   opacity: 0.8;
   position: relative;
   border: solid #636363;
   height: 525px;
   text-align: center;
   transition-duration: 0.4s;
   text-decoration: none;
   overflow: hidden;
   cursor: pointer;
   padding: 50;
}
p{
  text-align: center;
  color: white;
}

button:hover {
  box-shadow: 5px 5px 5px 5px #2F2F2F;
}
